* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	background-color: rgba(15, 17, 22, 1);
	overflow-x: hidden;
	position: relative;
}

button {
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 0 auto;
	user-select: none;
	padding: 50px 72.5px 0px;
	background-color: inherit;
}

.ul-wrapper {
	display: flex;
	list-style: none;
	gap: 55px;
	flex-wrap: wrap;
	font-size: 15px;
}
.list-item {
	cursor: pointer;
	font-size: 20px;
	line-height: 26px;
}
.overallBtn {
	background-color: inherit;
	font-family: inherit;
}

.head-btn {
	color: rgba(250, 27, 86, 1);
	font-size: 17px;
	line-height: 21.93px;
	border: 1px solid rgba(250, 27, 86, 1);
	border-radius: 48px;
	padding: 23px 51px;
}

/* television wrapper start */
.television-wrapper {
	background-color: rgba(23, 25, 32, 1);
	border-radius: 50px;
	padding: 40px 0px 50px 52px;
	margin: 150px 55px;
}

.innerHead {
	margin-right: 55px;
}
.main-title {
	color: white;
	font-weight: 400;
	font-size: 55px;
	line-height: 77.4px;
	letter-spacing: 2%;
	max-width: 1000px;
}
.yellowFont {
	color: rgba(251, 236, 28, 1);
}
.title-desc {
	color: rgba(117, 127, 147, 1);
	font-size: 18px;
	line-height: 35px;
	margin-top: 6px;
	max-width: 1270px;
}

.generalTitle {
	color: white;
	font-size: 40px;
	line-height: 51.6px;
	font-weight: 400;
	letter-spacing: 2%;
	margin-bottom: 60px;
}

/* first part start */
.first-part {
	margin-top: 140px;
	margin-right: 55px;
}
.mainImg {
	display: block;
	width: 100%;
	margin-top: 140px;
}

/* second part start */
.second-part {
	margin-top: 140px;
	margin-right: 55px;
}
.secondBody {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 15px;
}
.secondBodyItem {
	background-color: rgba(57, 62, 75, 1);
	border-radius: 30px;
	padding: 27px 25px;
	width: 32.5%;
	/* margin-top: 18px; */
}
.secondBodyTitle {
	color: white;
	font-size: 25px;
	line-height: 32.25px;
	font-weight: 500;
}
.secondBodyDesc {
	color: rgba(206, 211, 224, 1);
	font-size: 17px;
	line-height: 26px;
	font-weight: 400;
	margin-top: 10px;
}

/* third part start */
.third-part {
	margin-top: 150px;
	margin-right: 55px;
}

.third-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.thirdBodyItem {
	background-color: rgba(57, 62, 75, 1);
	padding: 28px 29px;
	width: 49.1%;
	border-radius: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 22px;
}

.flashTitle {
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	color: white;
	margin-bottom: 5px;
}

.flashDesc {
	color: rgba(206, 211, 224, 1);
	font-size: 17px;
	line-height: 26px;
	font-weight: 400;
}

.notForAll {
	max-width: 300px;
}

.third-part-foot {
	padding: 54px 45px 45px;
	background-color: rgba(251, 236, 28, 1);
	border-radius: 30px;
	margin-top: 150px;
}

.getsFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.third-foot-title {
	font-size: 40px;
	line-height: 51.6px;
	font-weight: 400;
	margin-bottom: 15px;
	letter-spacing: 2%;
}
.third-foot-desc {
	font-size: 17px;
	line-height: 26px;
	font-weight: 400;
	max-width: 600px;
	margin-bottom: 10px;
}

.third-foot-btn {
	font-size: 19px;
	line-height: 24.51px;
	border: none;
	background-color: rgba(15, 17, 22, 1);
	padding: 27px 66px;
	border-radius: 55px;
	color: white;
	/* margin-right: 65px; */
}

/* footer start */
.footer {
	background-color: rgba(251, 236, 28, 1);
	padding: 45px 72.5px;
	margin: 50px 0 0 0px;
	border-radius: 100px 100px 0 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.footer-title {
	color: rgba(15, 17, 22, 1);
	line-height: 130px;
	max-width: 600px;
	font-weight: 300;
	letter-spacing: 2%;
	font-size: 140px;
}

.footerBtns {
	margin-top: 29px;
}

.footerBtn {
	background-color: inherit;
	border: 1.79px solid rgba(15, 17, 22, 1);
	font-size: 17px;
	line-height: 23.27px;
	font-weight: 400;
	font-family: inherit;
	padding: 14px 27px;
	margin: 6px 5px;
	border-radius: 53.71px;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 52%;
	margin-top: 50px;
}

.footer-left {
	width: 46%;
}

.inputs-wrapper {
	margin-top: 15px;
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(15, 17, 22, 1);
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 2%;
	padding: 15px 0;
	margin-top: 66px;
}

.input::placeholder {
	color: rgba(15, 17, 22, 1);
}

.send-wrapper {
	margin-top: 55px;
	display: flex;
	gap: 25px;
	width: fit-content;
	height: 65px;
}

.send-btn {
	border: none;
	border-radius: 99px;
	padding: 20px 125px;
	font-size: 18px;
	line-height: 23.22px;
	font-weight: 500;
	background-color: rgba(15, 17, 22, 1);
	color: rgba(251, 236, 28, 1);
}
.send-desc {
	color: rgba(15, 17, 22, 1);
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 2%;
}

.foot-right-bottom {
	margin-top: 103px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 10px;
}

.bottom-ul {
	list-style: none;
	width: fit-content;
}
.bottom-list {
	font-size: 20px;
	line-height: 25.8px;
	font-weight: 500;
	color: rgba(15, 17, 22, 1);
	border-bottom: 1px solid rgba(15, 17, 22, 1);
	margin-top: 25px;
	width: fit-content;
}

.app-logos,
.socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.location {
	font-size: 20px;
	color: rgba(15, 17, 22, 1);
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 2%;
	margin-top: 26px;
}
.address {
	max-width: 360px;
}
.bolder {
	font-weight: 500;
}

/* display control */
.getBlock {
	display: none;
}

.mainPageWrapper {
	display: block;
}

.adaptiveParts {
	display: none;
}

.blockAdaptive {
	display: none;
}

.changePlaceB {
	display: none;
}
