/* responsive start */
@media only screen and (max-width: 1200px) {
	.packing-item {
		width: 48%;
	}

	.yellow-wrapper {
		flex-wrap: wrap;
	}

	.yellow-tt-img {
		display: block;
		width: 469px;
		height: 371px;
	}

	.ul-wrapper {
		gap: 30px;
	}
	.vremya {
		width: 680px;
	}
	.vremya > img {
		width: 100%;
	}

	.img-btns-wrapper {
		right: 0px;
		bottom: 80px;
	}
}

@media only screen and (max-width: 768px) {
	.background-effect {
		width: 120%;
	}
	body,
	html {
		overflow-x: hidden;
	}

	.getNone {
		display: none;
	}

	.getInline {
		display: inline;
	}
	.getBlock {
		display: block;
	}

	.header,
	.timeToWrapper,
	.cases-wrapper,
	.yellow-wrapper,
	.services-wrapper,
	.packing-wrapper,
	.workWith-wrapper,
	.review-wrapper,
	.main-wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}

	.footer {
		padding: 50px 15px;
		border-radius: 20px 20px 0 0;
		padding-bottom: 100px;
		margin-top: 150px;
	}

	.vremya {
		width: 430px;
	}
	.vremya > img {
		width: 100%;
	}
	.packing-title {
		display: block;
		width: 250px;
	}
	.service-main-title {
		display: block;
		width: 170px;
	}
	.firstCaseTitle {
		width: 170px;
	}
	.firstCaseTitle > img {
		width: 100%;
	}
	.timeto-title {
		width: 205px;
	}

	.bottom-list {
		font-size: 11px;
		line-height: 14.19px;
		font-weight: 400;
	}

	.footer-right {
		width: 100%;
	}

	.send-wrapper {
		flex-wrap: wrap;
		width: 100%;
	}

	.send-btn {
		width: 100%;

		padding: 17px 30px;
	}

	.send-desc {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		font-size: 11px;
		line-height: 14.19px;
	}

	.input {
		font-size: 12px;
	}

	.body-content {
		width: 96%;
		padding: 15px 10px;
	}
	.indexZero {
		width: 94%;
	}
	.indexMinus {
		width: 100%;
	}

	.person-name {
		font-size: 14px;
		line-height: 18.06px;
	}
	.person-desc {
		line-height: 15.48px;
		font-size: 12px;
	}
	.person-thoughts {
		font-size: 12px;
		line-height: 20px;
	}

	.review-btn1 {
		padding: 15px 20px;
	}
	.review-btn2 {
		padding: 15px 30px;
	}

	.arrow-left {
		top: 105%;
		left: 25%;
		padding: 20px 16px;
	}
	.arrow-right {
		top: 105%;
		right: 25%;
		padding: 20px 16px;
	}

	.review-btn {
		padding: 13px 30px 15px;
		font-size: 11px;
	}
	.review-title {
		max-width: 207px;
	}
	.review-title > img {
		width: 100%;
	}

	.review-numbers {
		font-size: 15.7px;
		line-height: 20.25px;
	}

	.person-img {
		width: 71px;
		height: 71px;
	}

	.location {
		font-size: 11px;
		line-height: 14.19px;
	}

	.head-btn {
		font-size: 10.83px;
		line-height: 13.97px;
	}

	.foot-fold,
	.foot-shadow {
		width: 50px;
		height: 51px;
	}

	.person-left {
		gap: 10px;
	}

	.workWithTitle {
		font-size: 20px;
		line-height: 25.8px;
	}

	.packing-item {
		width: 100%;
		margin-top: 70px;
		height: 400px;
	}

	.packing-item:first-child {
		margin: 0;
	}

	.packing-item-title {
		font-size: 24px;
		line-height: 30px;
	}
	.packing-list {
		font-size: 13px;
		line-height: 16.77px;
	}

	.lightning {
		width: 73px;
		height: 79px;
		top: -45px;
	}
	.packing-desc {
		font-size: 14px;
		line-height: 20px;
	}

	.service-item {
		padding: 17px 25px;
	}

	.service-info {
		margin: 20px 0;
	}

	.service-desc {
		font-size: 12px;
		line-height: 20px;
	}

	.service-item-face {
		font-size: 14px;
		line-height: 18px;
	}

	.service-name {
		font-size: 14px;
		line-height: 18.06px;
	}
	.plus-minus {
		font-size: 40px;
		margin-right: 5px;
	}

	.service-images {
		margin-top: -40px;
	}

	.service-img {
		width: 141px;
		height: 71px;
		margin-right: 5px;
	}

	.service-foot-desc {
		font-size: 13px;
		line-height: 20px;
	}

	.service-foot-btn {
		border: 0.72px solid white;
		width: 100%;
		padding: 19.5px;
		margin-top: 18px;
	}

	.yellow-wrapper {
		padding: 16px 16px 16px 25px;
		flex-wrap: wrap;
	}

	.yellow-title {
		font-size: 30px;
		line-height: 35px;
		margin-top: 40px;
	}

	.yellowBtn {
		padding: 19px 27px;
		margin: 35px 0;
		font-size: 11px;
		line-height: 14.19px;
		border-radius: 7px;
	}

	.yellow-tt-img {
		width: 269px;
		height: 171px;
	}

	.fold {
		width: 28px;
		height: 43px;
	}
	.nextToFold {
		width: 21px;
		height: 42px;
	}
	.foldShadow {
		width: 32px;
		height: 40px;
	}

	.circle {
		width: 17.14px;
		height: 17.14px;
	}

	.cases-wrapper {
		flex-wrap: wrap;
	}

	.case-left,
	.case-right {
		width: 80%;
		margin: 0 auto;
	}
	.case-left {
		margin-top: 10px;
	}

	.right-case-item,
	.left-case-item {
		margin-top: 33px;
		border-radius: 49.45px 49.45px 30.9px 30.9px;
	}

	.whiteBack,
	.whiteBackRight {
		width: 100%;
		margin: 0;
		height: 186px;
		border-radius: 49.45px;
	}

	.caseTitle {
		font-size: 22px;
		line-height: 28.38px;
		margin: 16px 13px;
	}
	.case-desc {
		font-size: 12px;
		line-height: 15.48px;
		margin: 16px 13px 20px 13px;
	}
	.caseImgWrapper {
		gap: 10px;
		justify-content: flex-start;
	}
	.moreCaseBtn {
		position: static;
		padding: 19.5px;
		width: 100%;
		margin-top: 30px;
	}

	.timeToWrapper {
		flex-wrap: wrap;
		position: relative;
	}
	.timeto-title {
		margin-bottom: 4px;
	}
	.rightTimeTo,
	.leftTimeTo {
		width: 100%;
	}
	.rightTimeTo {
		padding-top: 10px;
	}
	.layer {
		width: 144px;
		height: 97px;
		position: absolute;
		right: -55px;
		top: 150px;
	}
	.timeDesc {
		font-size: 15px;
		line-height: 22px;
	}
	.timeDesc2 {
		font-size: 13px;
		line-height: 20px;
	}
	.valueCardWrap {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		justify-content: center;
	}
	.valueCardWrap > img {
		width: 48%;
	}
	.text-img {
		margin-left: -60px;
	}

	.components {
		gap: 18px;
		padding: 28px 18px;
	}
	.components-item {
		width: 141px;
		height: 71px;
		margin-top: 5px;
	}
	.component-thunder {
		scale: 0.6;
		right: -40px;
		bottom: -68px;
	}

	.img-btns-wrapper {
		width: 250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		right: 0px;
		bottom: 20px;
	}
	.btn-desc {
		font-size: 13px;
		line-height: 16.77px;
	}
	.img-btn {
		width: 127px;
		height: 57.11px;
	}

	.element-wrapper {
		text-align: left;
		margin: 0px 0;
	}

	.elements {
		object-fit: cover;
		width: 135%;

		margin-left: -47px;
	}

	.header-btn {
		font-size: 11px;
		line-height: 14.19px;
	}
}

@media only screen and (max-width: 490px) {
	.header,
	.timeToWrapper,
	.cases-wrapper,
	.yellow-wrapper,
	.services-wrapper,
	.packing-wrapper,
	.workWith-wrapper,
	.review-wrapper,
	.main-wrapper {
		margin-left: 10px;
		margin-right: 10px;
	}

	.vremya {
		width: 350px;
	}
	.indexMinus {
		scale: 0;
	}

	.person-left {
		gap: 5px;
	}

	.service-img {
		width: 131px;
		height: 66px;
	}

	.yellow-left-img {
		width: 142px;
	}

	.caseImgWrapper {
		gap: 5px;
		justify-content: center;
	}

	.case-left,
	.case-right {
		width: 100%;
	}

	.case-img {
		width: 107px;
		height: 58px;
	}

	.layer {
		top: 210px;
		right: -30px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
	.indexZero {
		height: 261px;
	}
	.indexMinus {
		height: 221px;
	}
}

@media only screen and (max-width: 400px) {
	.vremya {
		width: 275px;
	}
	.review-title {
		max-width: 160px;
	}
	.packing-title {
		max-width: 180px;
	}
	.service-main-title {
		width: 135px;
	}

	.firstCaseTitle {
		width: 145px;
	}

	.timeto-title {
		width: 155px;
	}
	.case-img {
		width: 90px;
		height: 41px;
	}
	.elements {
		object-fit: cover;
		width: 140%;

		margin-left: -38px;
	}
}

@media only screen and (max-width: 370px) {
	.yellow-tt-img {
		width: 229px;
		height: 131px;
	}
}
