* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	background-color: rgba(15, 17, 22, 1);
	overflow-x: hidden;
	position: relative;
}
button {
	cursor: pointer;
}

/* header start */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 0 auto;
	user-select: none;
	padding: 50px 72.5px 50px;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	z-index: 10;
}

/* Hidden state */
.header.hidden {
	transform: translateY(-100%);
	opacity: 0;
}

.ul-wrapper {
	display: flex;
	list-style: none;
	gap: 55px;
	flex-wrap: wrap;
	font-size: 15px;
}
.list-item {
	cursor: pointer;
	font-size: 20px;
	line-height: 26px;
}
.overallBtn {
	background-color: inherit;
	font-family: inherit;
}

.head-btn {
	color: rgba(250, 27, 86, 1);
	font-size: 17px;
	line-height: 21.93px;
	border: 1px solid rgba(250, 27, 86, 1);
	border-radius: 48px;
	padding: 23px 51px;
}

a {
	text-decoration: none;
	color: white;
}

/* responsive nav bar start */
.nav-bar-res {
	background-color: rgba(15, 17, 22, 1);
	height: 100vh;
	width: 320px;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 20;
}
.xButton {
	color: white;
	font-size: 60px;
	text-align: right;
	margin-right: 20px;
	font-weight: 400;
	margin-top: 30px;
	user-select: none;
}
.nav-bar-img {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}
.nav-bar-ul {
	list-style: none;
	text-align: center;
	margin-top: 30px;
}
.nav-bar-li {
	color: white;
	font-size: 20px;
	margin-top: 10px;
}

.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 19;
	display: none;
}

/* display control */
.getBlock {
	display: none;
}

/* on button hover */
.hasHover:hover {
	background-color: rgba(250, 27, 86, 1);
	border: 1px solid rgba(250, 27, 86, 1);
	color: rgba(15, 17, 22, 1);
	transform: scale(1.1);
}
button.hasHover {
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* displays */
.appear {
	right: 0;
	transition: 0.5s;
}
.disappear {
	right: -150%;
	transition: 0.5s;
}

.none {
	display: none;
}
.block {
	display: block;
}
