* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	background-color: rgba(15, 17, 22, 1);
	overflow-x: hidden;
	position: relative;
}

button {
	cursor: pointer;
}

/* header start */
.bottomOfHeader {
	position: relative;
	background-color: black;
	z-index: -2;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 0 auto;
	user-select: none;
	padding: 50px 72.5px 0px;
	background-color: black;
}

.ul-wrapper {
	display: flex;
	list-style: none;
	gap: 55px;
	flex-wrap: wrap;
	font-size: 15px;
}
.list-item {
	cursor: pointer;
	font-size: 20px;
	line-height: 26px;
}
.overallBtn {
	background-color: inherit;
	font-family: inherit;
}

.head-btn {
	color: rgba(250, 27, 86, 1);
	font-size: 17px;
	line-height: 21.93px;
	border: 1px solid rgba(250, 27, 86, 1);
	border-radius: 48px;
	padding: 23px 51px;
}

/* mainImage start */
.mainImage {
	display: block;
	margin: 0 auto;
	position: relative;
	margin-top: -70px;
	z-index: -1;
	width: 100%;
}

.head-title {
	color: white;
	position: absolute;
	bottom: 70px;
	left: 72.5px;
	font-weight: 400;
	font-size: 140px;
	line-height: 210px;
	letter-spacing: 2%;
	max-width: 855px;
}

.head-desc {
	color: white;
	font-size: 30px;
	line-height: 35px;
	max-width: 490px;
	position: absolute;
	right: 72.5px;
	bottom: 15%;
}

/* first section start */
.first-section {
	margin: 100px 72.5px 120px;
}

.generalTitle {
	color: white;
	font-size: 40px;
	line-height: 51.6px;
	font-weight: 400;
	margin-bottom: 60px;
}
.first-title {
	max-width: 700px;
}
.firstSectionBody {
	margin: 60px 0;
	display: flex;
	justify-content: space-between;
}

.firstBodyItem {
	width: 34%;
}

.firstInnerItem {
	background-color: rgba(57, 62, 75, 1);
	margin-top: 20px;
	border-radius: 30px;
	padding: 18px 20px;
	min-height: 200px;
}
.TwoInOne {
	margin: 0px 20px;
	margin-top: 20px;
	min-height: 420px;
	background-color: rgba(251, 236, 28, 1);
}
.TwoInOne > .firstInnerTitle,
.TwoInOne > .firstInnerDesc {
	color: rgba(15, 17, 22, 1);
}

.firstInnerTitle {
	color: white;
	font-size: 22px;
	line-height: 32.25px;
	margin-bottom: 10px;
	font-weight: 500;
}
.firstInnerDesc {
	color: rgba(206, 211, 224, 1);
	font-size: 14px;
	line-height: 23px;
}

.first-section-foot {
	padding: 54px 45px 45px;
	background-color: rgba(251, 236, 28, 1);
	border-radius: 30px;
}

.getsFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.first-foot-title {
	font-size: 40px;
	line-height: 41.6px;
	font-weight: 400;
	margin-bottom: 15px;
	letter-spacing: 2%;
}
.first-foot-desc {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	max-width: 580px;
}

.first-foot-btn {
	font-size: 19px;
	line-height: 24.51px;
	border: none;
	background-color: rgba(15, 17, 22, 1);
	padding: 27px 66px;
	border-radius: 55px;
	color: white;
	margin-right: 65px;
	margin-top: 10px;
}

/* second section start */
.second-section {
	margin: 0 0 150px 72.5px;
	padding-bottom: 128px;
	position: relative;
}
.second-title {
	max-width: 1100px;
}

.second-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.second-body::-webkit-scrollbar {
	height: 0px;
}

.secondBodyItem {
	background-color: rgba(57, 62, 75, 1);
	padding: 30px 25px;
	border-radius: 30px;
	height: 260px;
	flex: 0 0 auto;
	margin-right: 20px;
}
.secondBodyItem:nth-child(1) {
	max-width: 500px;
}
.secondBodyItem:nth-child(2) {
	max-width: 780px;
}
.secondBodyItem:nth-child(3) {
	max-width: 1182px;
}
.secondBodyItem:nth-child(4) {
	max-width: 800px;
}

.secondItemTitle {
	color: white;
	font-size: 25px;
	line-height: 32.25px;
	font-weight: 500;
	margin-bottom: 10px;
}
.secondItemDesc,
.li-item {
	color: rgba(206, 211, 224, 1);
	font-size: 17px;
	line-height: 26px;
	font-weight: 400;
}

.li-item {
	margin-left: 20px;
	margin-top: 5px;
}

.arrowLeft {
	transform: scaleX(-1);
}

.arrowWrap {
	width: 220px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
}

/* third section start */
.third-section {
	margin: 0 72.5px 150px;
}
.third-title {
	max-width: 700px;
}

.thirdBody {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}
.thirdBodyItem {
	background-color: rgba(57, 62, 75, 1);
	padding: 28px 29px;
	width: 49.2%;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 22px;
}

.flash {
	width: 92px;
	height: 85px;
}

.flashTitle {
	color: white;
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
	margin-bottom: 5px;
}
.flashDesc {
	color: rgba(206, 211, 224, 1);
	font-size: 14px;
	line-height: 23px;
}

/* fourth start */
.fourth-section {
	margin: 0px 0px 120px 72.5px;
}

.fourthBody {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.fourthBody::-webkit-scrollbar {
	height: 0px;
}

.fourthBodyItem {
	border-radius: 30px;
	flex: 0 0 auto;
	margin-right: 15px;
}

.whiteBack {
	background-color: rgba(217, 217, 217, 1);
	width: 550px;
	height: 450px;
	border-radius: 30px;
}

.fourthBodyTitle {
	color: white;
	font-size: 28px;
	line-height: 36.12px;
	font-weight: 400;
	margin: 30px 0 5px;
}
.fourthBodyDesc {
	color: rgba(117, 127, 147, 1);
	font-size: 18px;
	line-height: 23.22px;
}
.fourthBtn {
	margin-top: 23px;
	border: 1.79px solid rgba(117, 127, 147, 1);
	color: rgba(117, 127, 147, 1);
	border-radius: 53.71px;
	padding: 13px 24px 14px 27px;
	font-size: 17px;
	line-height: 23.22px;
	letter-spacing: 2%;
	background-color: inherit;
}

/* footer start */
.footer {
	background-color: rgba(251, 236, 28, 1);
	padding: 45px 72.5px;
	margin: 50px 0 0 0px;
	border-radius: 100px 100px 0 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.footer-title {
	color: rgba(15, 17, 22, 1);
	line-height: 130px;
	max-width: 600px;
	font-weight: 300;
	letter-spacing: 2%;
	font-size: 140px;
}

.footerBtns {
	margin-top: 29px;
}

.footerBtn {
	background-color: inherit;
	border: 1.79px solid rgba(15, 17, 22, 1);
	font-size: 17px;
	line-height: 23.27px;
	font-weight: 400;
	font-family: inherit;
	padding: 14px 27px;
	margin: 6px 5px;
	border-radius: 53.71px;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 52%;
	margin-top: 50px;
}

.footer-left {
	width: 46%;
}

.zayavku {
	padding-top: 9px;
}

.inputs-wrapper {
	margin-top: 15px;
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(15, 17, 22, 1);
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 2%;
	padding: 15px 0;
	margin-top: 66px;
}

.input::placeholder {
	color: rgba(15, 17, 22, 1);
}

.send-wrapper {
	margin-top: 55px;
	display: flex;
	gap: 25px;
	width: fit-content;
	height: 65px;
}

.send-btn {
	border: none;
	border-radius: 99px;
	padding: 20px 125px;
	font-size: 18px;
	line-height: 23.22px;
	font-weight: 500;
	background-color: rgba(15, 17, 22, 1);
	color: rgba(251, 236, 28, 1);
}
.send-desc {
	color: rgba(15, 17, 22, 1);
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 2%;
}

.foot-right-bottom {
	margin-top: 103px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 10px;
}

.bottom-ul {
	list-style: none;
	width: fit-content;
}
.bottom-list {
	font-size: 20px;
	line-height: 25.8px;
	font-weight: 500;
	color: rgba(15, 17, 22, 1);
	border-bottom: 1px solid rgba(15, 17, 22, 1);
	margin-top: 25px;
	width: fit-content;
}

.app-logos,
.socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.location {
	font-size: 20px;
	color: rgba(15, 17, 22, 1);
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 2%;
	margin-top: 26px;
}
.address {
	max-width: 360px;
}
.bolder {
	font-weight: 500;
}

/* display control */
.getBlock {
	display: none;
}

.mainPageWrapper {
	display: block;
}

.adaptiveParts {
	display: none;
}

.blockAdaptive {
	display: none;
}

.changePlaceB {
	display: none;
}
